* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
}
header {
  background-color: #ffffff;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.logo img {
  margin: 16px 0;
}
nav .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
nav .menu li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.btn {
  background-color: #30b868;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}
#banner {
  background: url(.//assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: content;
  background-size: cover;
  height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.banner-content .btn-white-green {
  color: #30b868;
  background-color: #ffffff;
  border-radius: 1000px;
  padding: 12px 16px;
  font-weight: 500;
  border-style: none;
  border-color: none;
  cursor: pointer;
}
#banner .banner-content h2 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 84px;
}
.banner-content h2 .white {
  color: #ffffff;
}
.banner-content h2 .green {
  color: #30b868;
}
#banner .banner-content p {
  font-size: 18px;
  color: #f1efef;
  line-height: 24px;
  margin-bottom: 30px;
  text-align: center;
}
.btn-white {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.button {
  display: flex;
  gap: 16px;
}
.img-bg {
  background-color: #f95555;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .img-bg img {
  height: 32px;
  width: 32px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  height: 448px;
}
.about h2 {
  font-size: 48px;
  color: #001931;
  margin-top: 70px;
  margin-bottom: 16px;
  text-align: center;
}
.about p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 44px;
  text-align: center;
}
.about .card-container {
  display: flex;
  margin: 0 auto;
  gap: 24px;
}
.card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 300px;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
}
.card h3 {
  text-align: center;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 840px;
}
#content .content-container {
  display: flex;
  margin: 0 auto;
  width: 85%;
  max-width: 1360px;
  height: 600px;
  gap: 60px;
}
.content-container .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
.details h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #30b868;
  text-align: start;
}
.details h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  text-align: start;
}
.details p , 
.ending-button p,
.ending-info p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  text-align: start;
}
.details ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  color: #001931;
  font-weight: 500;
}
#ending {
  height: 506px;
  display: flex;
  justify-content: center;
}
#ending .ending-container {
  height: 384px;
  width: 85%;
  max-width: 1360px;
  background-color: #f7f6f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 80px 40px;
}
.ending-container .ending-info,
.ending-container .ending-button {
  text-align: center;
}
.ending-info h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}